.about-section{
  width: 100%;
  height: 100%;//원스크롤 떄문에 추가함
  color: #fff;
  @media screen and (max-width:1000px){
    height: 200%
  }
  .about-profile{
    padding-top: 10px;
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    box-sizing: border-box;
    @media screen and (max-width:1000px){
      display: block;
      padding-top: 0px;
    }
    .contents-left-wrap{//왼쪽
      width: 50%;
      height: 100%;
      @media screen and (max-width:1000px){
        width: 100%;
        height: 50%;
      }
      figure{
        margin: 0 auto  ;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 3px solid #fff;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }//img
      }//figure
      ul.profile-info{
        padding: 30px 0;
        width: 200px;
        margin: 0 auto;
        @media screen and (max-width:1000px){
          display: none; 
         }
        li{
          white-space: nowrap;
          padding: 5px 0;
          font-size: 1.2em;
          font-weight: 400;
          i{
            width: 20px;
          }//i
        }//li
      }//ul
      ul.edu{
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
        text-align: center;
        padding-bottom: 50px;
        @media screen and (max-width:1000px){
          padding-top: 20px;
         }
        >p{
          font-size: 3em;
          padding-bottom: 20px;
          @media screen and (max-width:1000px){
            font-size: 7vw;
          }
        }
        li{
          text-align: left;
          padding-left: 20px;
          padding-bottom: 5px;
          @media screen and (max-width:1000px){
            text-align: center;
           }
          span{
            @media screen and (max-width:1000px){
             display: block; 
            }
          }
        }//li
      }//ul.edu
    }//contents-left-wrap
    .contents-right-wrap{//오른쪽
      width: 50%;
      height: 100%;
      @media screen and (max-width:1000px){
        width: 100%;
        margin: 0 auto;
        padding-left: 0px;
        height: 50%;
        padding-top: 50px;
        box-sizing: border-box;
      }
      h2.name{
        margin-bottom: 50px;
        @media screen and (max-width:1000px){
          margin-bottom: 30px;
        }
        p{
          font-size: 5em;
          font-weight: 800;
          line-height: 60px;
          @media screen and (max-width:1000px){
            font-size: 15vw;
            text-align: center;
          }
        }
        small{
          padding-left: 5px;
          @media screen and (max-width:1000px){
          font-size: 0.85em;
          padding-left: 20px;
          }
        }
      }//name
      .introduce{
        @media screen and (max-width:1000px){
          margin: 0 auto;
          margin-bottom: 30px;
        }
        p{
          font-weight: 300;
        }
        p:nth-child(1){
          font-weight: 400;
          font-size: 2em;
          margin-bottom: 50px;
          @media screen and (max-width:1000px){
            margin-bottom: 30px;
            font-size: 1.3em; 
            text-align: center;
          }
        }
        p:nth-child(2){
          font-size: 1.2em;
          max-width: 300px;
          margin-bottom: 30px;
          @media screen and (max-width:1000px){
            margin: 0 auto;
            margin-bottom: 30px;
            font-size: 0.95em;
            text-align: left;
          }
        }
        p:nth-child(3){
          font-size: 1em;
          margin-bottom: 30px;
          @media screen and (max-width:1000px){
            margin: 0 auto;
            font-size: 0.9em;
            text-align: left;
            max-width: 300px;
            margin-bottom: 30px;
          }
        }
        p:nth-child(4){
          font-size: 1.4em;
          font-weight: 100;
          padding-bottom: 40px;
          @media screen and (max-width:1000px){
            margin: 0 auto;
            font-size: 1.1em;
            text-align: left;
            max-width: 300px;
          }
        }
      }
    }//contents-right-wrap
    /* active motion before */
    .contents-left-wrap{
      figure{
        filter: grayscale(100%);
        transition: all 2s;
      }
      .profile-info{
        opacity: 0;
      }
      .edu{
        opacity: 0;
      }
    }
    .contents-right-wrap{
      opacity: 0;
      transform: translateX(-10%);
    }
    /* active motion after */
    &.active{
      .contents-left-wrap{
        figure{
          filter: grayscale(0%);
        }
        .profile-info{
          opacity: 1;
          transition: opacity 1s;
          transition-delay: 0.5s;
        }
        .edu{
          opacity: 1;
          transition: all 1s;
          transition-delay: 1s;
        }
      }//.contents-left-wrap
      .contents-right-wrap{
        transition: opacity 0.5s , transform 0.7s;
        transform: translateX(0);
        opacity: 1;
        transition-delay: 1.5s;
      }//contents-right-wrap
    }//&.avtive
  }//about-profile
}//about