.contact-section{
  width: 100%;
  height: 100%;
  position: relative;
  .contact-container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 50%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:1000px){
      height: 100%;
      padding-top: 70px;
      box-sizing: border-box;
    }
    figure{
      width: 30%;
      margin-right: 70px;
      @media screen and (max-width:1000px){
        display: none;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }//img
    }//figure
    .textbox{
      color: #fff;
      @media screen and (max-width:1000px){
        width: 100%;
      }
      p:not(p:nth-child(4)){
        margin-bottom: 30px;
        line-height: 1.8;
        @media screen and (max-width:1000px){
          line-height: 1.3;
        }
      }
      p:nth-child(1){
        font-size: 1.7em;
        font-weight: 900;
        line-height: 1.5;
        @media screen and (max-width:1000px){
          font-size: 6vw;
        }
      }
      p:nth-child(2){
        font-size: 17px;
      }
      p:nth-child(3){
        font-size: 17px;
      }
      p:nth-child(4){
        display: flex;
        @media screen and (max-width:1000px){
          flex-direction: column;
        }
        button{
          width: 180px;
          height: 50px;
          border-radius: 30px;
          color: #fff;
          margin-right: 20px;
          border: 1px solid #fff;
          transition: all 0.3s;
          @media screen and (max-width:1000px){
            width: 100%;
            margin-bottom: 10px;
          }
          &:hover{
            background-color: #fff;
            color: var(--main-color);
          }//button hover
        }//button
      }//p
    }//textbox
    /* active motion before*/
    figure{
      filter: grayscale(100%);
      transition: all 1s;
    }
    .textbox{
      p{
        transform: translateX(-10%);
        opacity: 0;   
        transition: transform 0.7s , opacity 0.5s ; 
        &:nth-child(2){
          transition-delay: 0.5s;
        }
        &:nth-child(3){
          transition-delay: 1s;
        }
        &:nth-child(4){
          transition-delay: 1.5s;
        }
      }

    }
    /* active motion after */
    &.active{
      figure{
        filter: grayscale(0);
      }//figure
      .textbox{
        p{
          transform: translateX(0);
          opacity: 1 ;
        }
      }//textbox
    }//.active
  }//.contact-container
}//.contact-section