.contact-section {
  width: 100%;
  height: 100%;
  position: relative;
}
.contact-section .contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* active motion before*/
  /* active motion after */
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container {
    height: 100%;
    padding-top: 70px;
    box-sizing: border-box;
  }
}
.contact-section .contact-container figure {
  width: 30%;
  margin-right: 70px;
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container figure {
    display: none;
  }
}
.contact-section .contact-container figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.contact-section .contact-container .textbox {
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container .textbox {
    width: 100%;
  }
}
.contact-section .contact-container .textbox p:not(p:nth-child(4)) {
  margin-bottom: 30px;
  line-height: 1.8;
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container .textbox p:not(p:nth-child(4)) {
    line-height: 1.3;
  }
}
.contact-section .contact-container .textbox p:nth-child(1) {
  font-size: 1.7em;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container .textbox p:nth-child(1) {
    font-size: 6vw;
  }
}
.contact-section .contact-container .textbox p:nth-child(2) {
  font-size: 17px;
}
.contact-section .contact-container .textbox p:nth-child(3) {
  font-size: 17px;
}
.contact-section .contact-container .textbox p:nth-child(4) {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container .textbox p:nth-child(4) {
    flex-direction: column;
  }
}
.contact-section .contact-container .textbox p:nth-child(4) button {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  color: #fff;
  margin-right: 20px;
  border: 1px solid #fff;
  transition: all 0.3s;
}
@media screen and (max-width: 1000px) {
  .contact-section .contact-container .textbox p:nth-child(4) button {
    width: 100%;
    margin-bottom: 10px;
  }
}
.contact-section .contact-container .textbox p:nth-child(4) button:hover {
  background-color: #fff;
  color: var(--main-color);
}
.contact-section .contact-container figure {
  filter: grayscale(100%);
}
.contact-section .contact-container .textbox p {
  transform: translateX(-10%);
  opacity: 0;
}
.contact-section .contact-container.active figure {
  filter: grayscale(0);
  transition: all 1s;
}
.contact-section .contact-container.active .textbox p {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.7s, opacity 0.5s;
}
.contact-section .contact-container.active .textbox p:nth-child(2) {
  transition-delay: 0.5s;
}
.contact-section .contact-container.active .textbox p:nth-child(3) {
  transition-delay: 1s;
}
.contact-section .contact-container.active .textbox p:nth-child(4) {
  transition-delay: 1.5s;
}/*# sourceMappingURL=contact.css.map */