header{
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #fff;
  &.active {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0px;
  } //active
  h1{

  }
  ul.menu{
    display: flex;
    li{

      a{

      }
    }
  }
  
}