.home-section{
  position: relative;
  height: 100%;
  width: 100%;
  figure.bg{
    img{
      position: absolute;
      z-index: 1;
    }
    .bg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      top: 0; left: 0 ;
      mix-blend-mode: overlay;
    }
    .moon{
      width: 65%;
      top: -50%;
      left: 20%;
      mix-blend-mode: soft-light;
      opacity: 0.8;
      animation: moon 50s linear infinite;
      @keyframes moon {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
      }
      @media screen and (max-width:1000px){
        top: 0;
        width: 70%;
        left: 15%;
      }
    }
  }//bg
  .textbox{
    position: absolute;
    z-index: 2;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    .inner{
      position: relative;
      h1{
        font-size: 6em;
        font-weight: 800;
        text-shadow: 0 0 10px #fff;
        @media screen and (max-width:1000px){
          font-size: 18vw;
        }
      }
      p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        font-size: 0.9em;
        white-space: nowrap;
        font-weight: 200;
        text-shadow: 1px 1px  2px rgba(#000,0.5);
      }
    }
    em{
      display: block;
      margin-top: 80px;
      span{
        display: block;
        font-weight: 600;
        padding: 5px;
        &.nexon{
          font-weight: 100;
        }
      }
    }
  }
}