*{
  font-family: inherit;
  font-size: inherit;
  color:inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: inherit;
}
body{
  font-family: 'Montserrat', 'Noto Sans KR',  sans-serif;
  font-size: 16px;
  color:#444;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('../font/NEXON\ Lv1\ Gothic\ OTF\ Bold.woff') format('woff');
  font-weight: normal;
  font-style: Bold;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('../font/NEXON\ Lv1\ Gothic\ OTF\ Light.woff.woff') format('woff');
  font-weight: normal;
  font-style: Light;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('../font/NEXON\ Lv1\ Gothic\ OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSL.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSR.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "EBS";
  src: url("../font/EBSB.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanL.woff") format("woff");
  font-weight: lighter;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanM.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "namsan";
  src: url("../font/SeoulNamsanEB.woff") format("woff");
  font-weight: bold;
}
.nexon {
  font-family: 'NEXON Lv1 Gothic OTF';
}
.ebs {
  font-family: "EBS";
}
.namsan {
  font-family: "namsan" ;
}
.mont {
  font-family: "Montserrat";
}
.noto {
  font-family: "Noto Sans KR";
}

:root{
  --main-color:#b5a4ea;
  --sub-color:#0077c0;
  --dark-color:#1d242b;
}