@charset "UTF-8";
.work-section {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
  /* active 모션 */
}
.work-section .bg {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work-section .work {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.work-section .work .work-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
  .work-section .work .work-contents {
    width: min(100%, 1200px);
    margin: 0 auto;
    padding: 0 60px;
    gap: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .work-section .work .work-contents {
    width: 90%;
    flex-flow: column nowrap;
  }
}
.work-section .work .work-contents .mockup-all {
  display: flex;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .work-section .work .work-contents .mockup-all {
    width: 600px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 1000px) {
  .work-section .work .work-contents .mockup-all {
    width: 330px;
    margin-left: 30px;
  }
}
.work-section .work .work-contents .mockup-all .mockup-c {
  width: 100%;
}
.work-section .work .work-contents .mockup-all .mockup-c .screenshot-c {
  width: 98%;
  height: 78%;
  border-radius: 2%;
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.work-section .work .work-contents .mockup-all .mockup-c .screenshot-c img {
  width: 100%;
}
.work-section .work .work-contents .mockup-all .mockup-c .frame-c {
  padding-bottom: 80%;
  background-image: url(../img/work/work1/mockup-c.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.work-section .work .work-contents .mockup-all .mockup-c .frame-c::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  filter: blur(2px);
  top: 84%;
  width: 80%;
  padding-bottom: 16%;
  background-image: url(../img/work/work1/mockup-shadow-c.png);
}
.work-section .work .work-contents .mockup-all .mockup-m {
  position: absolute;
}
@media screen and (min-width: 1000px) {
  .work-section .work .work-contents .mockup-all .mockup-m {
    right: -10%;
    bottom: 0;
    width: 20%;
  }
}
@media screen and (max-width: 1000px) {
  .work-section .work .work-contents .mockup-all .mockup-m {
    right: -5%;
    bottom: 0;
    width: 20%;
  }
}
.work-section .work .work-contents .mockup-all .mockup-m .screenshot-m {
  width: 88%;
  height: 98%;
  border-radius: 8%;
  top: 2%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.work-section .work .work-contents .mockup-all .mockup-m img {
  width: 100%;
  height: 100%;
}
.work-section .work .work-contents .mockup-all .frame-m {
  position: relative;
  background-image: url(../img/work/work1/mockup-m.png);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 200%;
  box-sizing: border-box;
}
.work-section .work .work-contents .mockup-all .frame-m::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translateX(-50%);
  background-size: contain;
  width: 100%;
  padding-bottom: 12.5%;
  filter: blur(2px);
  background-image: url(../img/work/work1/mockup-shadow-m.png);
}
.work-section .work .work-contents .mockup-desc {
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 1000px) {
  .work-section .work .work-contents .mockup-desc {
    left: 10%;
    transform: translateX(10%);
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .work-section .work .work-contents .mockup-desc {
    z-index: 3;
    margin-left: 90px;
    margin-top: 10px;
    width: 310px;
  }
}
.work-section .work .work-contents .mockup-desc .title h1 {
  font-weight: 600;
  font-size: 1.7em;
  padding-bottom: 10px;
}
.work-section .work .work-contents .mockup-desc .title p {
  font-weight: 500;
  font-size: 1.3;
  padding-bottom: 10px;
}
.work-section .work .work-contents .mockup-desc .title p::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.work-section .work .work-contents .mockup-desc ul li {
  width: 100%;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 8px 0px;
  box-sizing: border-box;
}
.work-section .work .work-contents .mockup-desc ul li span {
  display: inline-block;
  height: 100%;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1000px) {
  .work-section .work .work-contents .mockup-desc ul li span {
    width: 180px;
    font-size: 0.8em;
    font-weight: 700;
  }
}
@media screen and (max-width: 1000px) {
  .work-section .work .work-contents .mockup-desc ul li span {
    width: 120px;
    font-size: 0.75em;
    font-weight: 600;
  }
}
.work-section .work .work-contents .mockup-desc .link {
  display: flex;
  gap: 7px;
  padding-top: 10px;
  padding-left: -50px;
}
.work-section .work .work-contents .mockup-desc .link a, .work-section .work .work-contents .mockup-desc .link button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 2px solid;
  border-top-width: 1px;
  border-left-width: 1px;
  transition: all 0.8s;
}
@media screen and (min-width: 1000px) {
  .work-section .work .work-contents .mockup-desc .link a, .work-section .work .work-contents .mockup-desc .link button {
    font-size: 0.87em;
    font-weight: 700;
  }
}
@media screen and (max-width: 1000px) {
  .work-section .work .work-contents .mockup-desc .link a, .work-section .work .work-contents .mockup-desc .link button {
    font-size: 0.8em;
    font-weight: 700;
  }
}
.work-section .work .work-contents .mockup-desc .link a:hover, .work-section .work .work-contents .mockup-desc .link button:hover {
  background-color: var(--sub-color);
}
.work-section .bg-main {
  position: absolute;
  width: 100%;
  height: 300%;
  top: 50%;
  left: 50%;
  clip-path: circle(30%);
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.work-section.active .bg-main {
  z-index: 0;
  clip-path: circle(100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 1s ease-out;
}
.work-section.active .bg-main1 {
  background-image: linear-gradient(150deg, #000a16 35%, #a6bbd3 65%);
}
.work-section.active .bg-main2 {
  background-image: linear-gradient(150deg, rgb(142, 209, 241) 35%, #ddd 65%);
}
.work-section.active .bg-main3 {
  background-image: linear-gradient(150deg, #0199f3 35%, #c7e1f9 65%);
}
.work-section.active .bg-main4 {
  background-image: linear-gradient(150deg, #0272bc 35%, #f68e56 65%);
}
.work-section.active .bg-main5 {
  background-image: linear-gradient(150deg, rgb(223, 170, 188) 35%, rgb(220, 220, 220) 65%);
}
.work-section.active .bg-main6 {
  background-image: linear-gradient(150deg, rgb(252, 209, 160) 35%, #fff 65%);
}
.work-section.active .bg {
  opacity: 0.6;
}
@media screen and (min-width: 1000px) {
  .work-section.active .bg {
    z-index: 0;
    animation: move 1s forwards ease 0s;
    animation-delay: 0.2s;
    top: 52%;
  }
}
@media screen and (max-width: 1000px) {
  .work-section.active .bg {
    z-index: 0;
    animation: move2 1s forwards ease 0s;
    animation-delay: 0.2s;
    top: 53.5%;
  }
}
.work-section .planning {
  display: none;
}

@keyframes move {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0.6;
  }
  100% {
    width: 100%;
    height: 400px;
    opacity: 0.8;
  }
}
@keyframes move2 {
  0% {
    width: 80%;
    height: 80%;
  }
  100% {
    width: 100%;
    height: 700px;
  }
}
body.non-scroll {
  touch-action: none;
}
body.non-scroll .work-section .planning {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
body.non-scroll .work-section .planning .wrap {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body.non-scroll .work-section .planning .wrap button {
  text-align: right;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
body.non-scroll .work-section .planning .wrap .main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  padding: 10%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  gap: 120px;
}
body.non-scroll .work-section .planning .wrap .main .overview .title {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.02em;
  color: #333333;
  margin-bottom: 40px;
}
body.non-scroll .work-section .planning .wrap .main .overview .contents p {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.05em;
  color: #666666;
  word-break: keep-all;
  text-align: justify;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .title {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.02em;
  color: #333333;
  margin-bottom: 40px;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents > p {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -0.02em;
  color: #666666;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap {
    flex-flow: column nowrap;
  }
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap > p {
  font-size: 1.125rem;
  letter-spacing: -0.05em;
  color: #999999;
  min-width: 220px;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete {
  flex: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div {
  flex: 1;
  padding: 100px 16px 16px;
  color: #fff;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div .color {
  display: block;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: -0.05em;
  margin-bottom: 24px;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div p {
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  font-weight: 700;
  font-size: 0.875rem;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div p b {
  font-weight: 400;
  opacity: 0.8;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div:nth-child(1) {
  background-color: #000a16;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div:nth-child(2) {
  background-color: #203e5f;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div:nth-child(3) {
  background-color: #ffcc00;
}
body.non-scroll .work-section .planning .wrap .main .style-guide .contents .contents-wrap .pallete div:nth-child(4) {
  background-color: #fee5b1;
}
body.non-scroll .work-section .planning .wrap .main .typography {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
body.non-scroll .work-section .planning .wrap .main .typography .title {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.02em;
  color: #333333;
  margin-bottom: 40px;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap {
    flex-flow: column nowrap;
  }
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap > p {
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.05em;
  color: #999999;
  min-width: 220px;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .bold {
  font-weight: bold;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .medium {
  font-weight: normal;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .regular {
  font-weight: lighter;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .category {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 32px;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .category .prev {
  font-size: 3.75rem;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  border: 1px solid #CCCCCC;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .category .txt .name {
  font-size: 1.6rem;
  margin-bottom: 16px;
}
body.non-scroll .work-section .planning .wrap .main .typography .contents-wrap .font .category .txt .abc {
  letter-spacing: 0.05em;
  line-height: 1.3;
  color: #666666;
}/*# sourceMappingURL=work.css.map */